<header class="main-header" [ngClass]="toggle==1?'full-header':''">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <div class="dashboard-title">
        <h4 class="page_title">{{title==null?'Dashboard':title}}</h4>
      </div>

      <!-- <div class="navbar-brand">
        <a href="#"><img class="img-fluid" src="assets/images/logo.png"></a>
      </div> -->

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle border border-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Softpedia editor
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>