@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body {
	font-family: 'Lato', sans-serif;
	background-color: #f4f8f9;
	color: #272e40;
	font-weight: 400;
	font-size: 14px;
	height: 100vh;
	overflow: hidden;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
.form-group {
	position: relative;
}
.form-control {
	font-size: 14px;
	line-height: 13px;
	height: unset;
	padding: 10px 20px;
	border-color: #e5e8eb;
} 
input::-webkit-input-placeholder { 
	font-size: 13px;
}
input::-moz-placeholder { 
	font-size: 13px;
}
input:-ms-input-placeholder { 
	font-size: 13px;
}
input:-moz-placeholder { 
	font-size: 13px;
}
.form-control:focus {
	box-shadow: none;
}
a:hover ,
.btn-link.focus, .btn-link:focus ,
.btn-link:hover{
	text-decoration: unset;
}
/*defalut-btn*/
.btn {
	font-size: 14px;
	font-weight: 500;
	padding: 10px 20px;
	border-width: 1.5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
}
.btn-bg-icon {
	margin-left: 15px;
}
.btn-icon {
	padding: 5px;
	background-color: transparent;
}
.btn-primary {
	color: #fff;
	background-color: #198cff;
	border-color: #198cff;
	-webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.btn-primary:hover ,
.btn-primary:focus ,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0d58d9;
	border-color: #0d58d9;
}
.btn-border {
	border-color: #959698;
	background-color: transparent;
	color: #424056;
	opacity: 0.8;
}
.btn-border:hover ,
.btn-border:focus ,
.btn-border:not(:disabled):not(.disabled).active, 
.btn-border:not(:disabled):not(.disabled):active, 
.show>.btn-border.dropdown-toggle {
	color: #424056;
	background-color: transparent;
	border-color: #959698;
	opacity: 1;
}
.btn-calendar {
    border: solid 1px #ced4da;
    padding: 5px 15px;
    background-color: #f3f3f3;
    color: #333;
}
.btn-calendar:hover ,
.btn-calendar:focus {
	background-color: #ced4da;
} 
.btn.focus, .btn:focus ,button:focus{
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
} 
.border-primary {
	border-color: #198cff !important;
}
.border-primary:hover  ,
.border-primary:focus {
	background-color: #f4f8f9;
	border-color: #0d58d9 !important; 
} 

section {
	position: relative;
}
/*header-start*/
.main-header {
	background-color: #ffffff;
	position: fixed;
	right: 0px;
	left: 0px;
	padding-left: 20%;
	z-index: 5;
	border-bottom: solid 1.5px #e5e8eb;
	transition: all ease-in-out 0.3s;
	height: 65px;
}
.main-header.full-header {
	padding-left: 5%;
}
.main-header .dropdown-menu {
	-webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: showDropdown;
	animation-name: showDropdown;
	border: solid 1.5px #e5e8eb;
}
.main-header .dropdown-menu.show {
	margin-top: 10px;
	right: 0;
	width: 200px;
	left: unset;
}
.dropdown-menu.show:after {
    position: absolute;
    content: "";
	border-bottom: solid 0.5em #e5e8eb;
    border-left: solid 0.5em transparent;
    border-right: solid 0.5em transparent;
    top: -8px;
    right: 15px;
	-webkit-animation-name: showArrow;
	animation-name: showArrow;
	-webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes showDropdown {
    0% {
    top: 100%;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    }
    to {
        top: 100%;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes showDropdown {
    0% {
    top: 100%;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    }
to {
    top: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
@-webkit-keyframes showArrow {
    0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    }
to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
@keyframes showArrow {
    0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.navbar {
	padding: 10px;
	justify-content: space-between;
}
.dashboard-toggler {
	padding: 10px;
	height: 65px;
	border-bottom: solid 1.5px #e5e8eb;
}
.dashboard-toggler ,
.dashboard-title{
	display: flex;
	align-items: center;
	transition: all ease 0.3s;
}
.dashboard-toggler h4 ,
.dashboard-title h4 {
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 22px;
	text-transform: capitalize;
}
.dashboard-toggler h4 {
	margin-left: 20px;
}
.icon-sidebar .dashboard-toggler button {
	transition: all ease 0.3s;
}
.icon-sidebar .dashboard-toggler h4{
	display: none;
}
.icon-sidebar .dashboard-toggler {
	justify-content: center;
}
.navbar-brand {
	width: 200px;
	margin-right: 0px;
}
.navbar-brand a {
	display: block;
}
.main-header  .navbar-expand-lg .navbar-collapse  {
	flex-grow: unset;
	flex-basis: unset;
}
.nav-menu .nav-item {
	margin: 20px 0px;
}
.nav-link {
	padding: 10px 15px;
	color: #272e40;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
	border-radius: 5px;
}
.nav-link:focus, 
.nav-link:hover ,
.nav-item.active .nav-link ,
.nav-item .nav-link.active {
	color: #1a1f2c;
}
.dropdown-toggle::after {
	border-top: 0.5em solid #e5e8eb;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
	border-left: .5em solid transparent;
	margin-left: 15px;
    vertical-align: middle;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-nav .nav-link.border {
	border-width: 1.5px !important;
}
.main-header.fixed-header {
	background: #198cff;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	z-index: 5;
}
.dash-toggler_icon svg {
	fill: #272e40;
}
/*header-end*/
/*dashboard-start*/
.min-height_fluid {
	height: calc(100vh - 75px);
	overflow: hidden;
}
.sidebar{
	background-color: #ffffff;
	border-right: solid 1.5px #e5e8eb;
	float: left;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 8;
	transition: all ease-in-out 0.3s;
}
.sidebar.icon-sidebar {
	width: 5%;
}
.right-sidebar {
	float: left;
	width: 80%;
	margin-left: 20%;
	margin-top: 65px;
	height: 100%;
	overflow: auto;
	transition: all ease-in-out 0.3s;
}
.right-sidebar.full-rightbar {
	width: 95%;
	margin-left: 5%;
}
.dash-nav_tab {
	flex-direction: column;
	padding: 15px 25px;
	transition: all ease-in-out 0.3s;
}
.dash-nav_tab .nav-menu_lable {
	color: #000;
	margin-top: 25px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px #dddddd;
}
.dash-nav_tab .nav-link {
	color: #a9a9a9;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #f3f3f3;
	white-space: nowrap;
}
.icon-sidebar .dash-nav_tab .nav-link {
	padding: 10px 0px;
	text-align: center;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link ,
.nav-pills .nav-link:focus, 
.nav-pills .nav-link:hover {
	color: #fff;
	background-color: #198cff;  
}
.tab-text {
	margin-left: 15px;
	transition: all ease-in-out 0.3s;
}
.icon-sidebar .tab-text {
	font-size: 0px;
	margin-left: 0px;
}
.icon-sidebar .dash-nav_tab {
	padding: 15px;
}
.rightbar  {
	padding: 50px;
}
.card {
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1.5px #e5e8eb;
}
.custom-card {
	background: #fff;
	color: #666;
	box-shadow: 0 5px 15px rgba(0,0,0,.08);
	border-radius: 0px;
	border: none; 
	transition: all ease-in-out 0.3s;
}
.show-card {
	margin-bottom: 25px;
}
.file-upload {
	background-color: #ffffff;
	margin: 0 auto;
	width: 100%;
}
.file-upload-content {
	display: none;
	text-align: center;
}
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
.image-upload-wrap {
	border: 2px dashed #ddd;
	position: relative;
}
.image-dropping,
.image-upload-wrap:hover {
	background-color: #faf9f9;
	border: 2px dashed #dcdcdc;
}
.image-title-wrap {
	color: #222;
}
.drag-text {
	text-align: center;
}
.drag-text h3 {
	padding: 60px 0;
	margin-bottom: 0;
}
.image-title {
	display: block;
}
.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}
.close-icon {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
	background-color: #198cff;
	padding: 6px;
	width: 35px;
	height: 35px;
	color: #fff;
}
.ulpad-btn {
	text-align: right;  
}
/*breadcrumb-start*/
.page-breadcrumb {
	margin-bottom: 30px;
}
.breadcrumb {
	background-color: transparent;
	padding: 0px; 
}
.page-breadcrumb h2{
	font-size: 54px;
}
.breadcrumb-item {
	position: relative;
}
.breadcrumb-item+.breadcrumb-item {
	padding-left: 1.5rem;
}
.breadcrumb-item a{
	color: #198cff;
}
.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #198cff;
	content: "";
	width: 10px;
	height: 2px;
	background-color: #198cff;
	position: absolute;
	top: 50%;
	left: 7px;
}
/*breadcrumb-end*/
/*product-start*/
.product-tabs {
	margin-left: -50px;
	margin-right: -50px;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: solid 1.5px #e5e8eb;
}
.product-tabs .nav-link {
	padding: 20px 10px;
	position: relative;
	margin-right: 40px;
	color: #929ca5;
	font-size: 16px;
}
.product-tabs .nav-link:focus,
.product-tabs .nav-link:hover,
.product-tabs .nav-item.active .nav-link,
.product-tabs .nav-item .nav-link.active {
	color: #272e40;
}
.product-tabs .nav-link::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 0;
	height: 4px;
	background-color: #198cff;
	transition: all ease-in-out .3s;
}
.product-tabs .nav-link:focus::after,
.product-tabs .nav-link:hover::after,
.product-tabs .nav-item.active .nav-link::after,
.product-tabs .nav-item .nav-link.active::after {
    width: 100%;
}
.tab-content {
    margin-top: 30px;
}
.custom-table {
    margin-bottom: 0px;
	width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.01);
    border-radius: 5px;
    overflow: hidden;
}
.custom-table thead {
    background-color: #198cff;
    color: #ffffff;
}
.table.custom-table thead th {
	border-top: none;
	border-bottom: none;
}
.custom-table tbody {
	background-color: #ffffff;
}
.custom-table tbody td {
	border-color: #e5e8eb;
}
.calcu-table {
	border-collapse: separate;
	border-spacing: 5px 10px;
	margin-bottom: 0px;
} 
.calcu-table thead th {
    background-color: rgba(25, 140, 255, 0.2);
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    text-align: center;
    color: #198cff;
}
.calcu-table thead th:first-child {
    background-color: transparent
}
.calcu-table tbody td ,
.calcu-table tbody th {
	border-top: none;
} 
.calcu-table tbody td {
	text-align: center;
}
.calcu-table tbody tr:last-child td {
	font-weight: 600;
	background-color: #f3f3f3;
	border-radius: 5px;
}
.calcu-table tbody th {
    background-color: rgba(25, 140, 255, 0.2);
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    text-align: center;
    color: #198cff;
}
.calc-list {
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
}
.card-header {
    background-color: #198cff;
    color: #fff;
    border-bottom: none;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
}
.card-header:first-child {
	border-radius: 4px 4px 0px 0px;
}
.card-header .title {
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 18px;
}
.calc-list li {
	justify-content: space-between;
    align-items: center;
    display: flex;
	padding: 10px 5px;
    border-bottom: solid 1px #e5e8eb;
}
.calc-list li:first-child {
	padding-top: 0px;
}
.calc-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;	
}
.calc-label {
	margin-bottom: 0px;
	width: 50%;
	white-space: nowrap;
	color: #929ca5;
    font-weight: 500;
}
.calc-value {
	margin-bottom: 0px;
	width: 50%;
	text-align: right;
	font-weight: 600;
}
.pl-list {
    margin-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}
.pl-list > li {
    width: 25%;
    text-align: center;
	border-right: solid 1px #e5e8eb;
	position: relative;
}
.minus-value:after ,
.equal-value:after {
    position: absolute;
    right: -8px;
    top: calc(50% - 8px);
    width: 18px;
    height: 18px;
    background-color: #fff;
    line-height: 8px;
    font-size: 62px;
    color: #f04;
    font-weight: 300;
}
.minus-value:after {
	content: "-";
}
.equal-value:after {
    content: "=";
    font-size: 40px;
    line-height: 14px;
    right: -7px;
}
.pl-list > li:last-child {
	border-right: none;
}
.pl-list > li .calc-label {
    width: 100%;
    margin-bottom: 10px;
}
.pl-list > li .calc-value {
    width: 100%;
    text-align: center;
}
.card-datepicker {
	width: 240px;
}
.card-datepicker .form-control {
    white-space: nowrap;
    padding: 10px 8px;
}
.card-datepicker .dropdown-toggle::after{
	display: none;
}
.card-datepicker .dropdown-menu {
	border: none;
	margin-top: 10px;
}
.card-datepicker .dropdown-menu.show:after {
	right: unset;
	left: 15px;
}
.custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
	color: #a5a5a5;
	transition: all 0.15s ease-in-out;
	font-size: 14px;
    line-height: 26px;
}
.custom-day.focused {
	background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
	background-color: rgb(25, 140, 255);
	color: white;
}
.custom-day.faded {
	background-color: rgba(25, 140, 255,0.5);
}
ngb-datepicker{
	border:none;
}
.ngb-dp-weekday {
	font-style: normal !important;
}
.ngb-dp-months{
	padding:0 !important;
}
.date-range-quick-options ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	display: table;
	border-bottom: 1px solid #dadada;
}
.date-range-quick-options ul li {
	display: table-cell;
	background-color: #f8f9fa;
	padding: 8px 10px;
	font-size: 12px;
	border-right: 1px solid #dadada;
	cursor: pointer;
	transition: all 0.2s linear;
}
.date-range-quick-options ul li:last-child {
	border-right: none;
}
.date-range-quick-options ul li:hover {
	background-color: #198cff;
	color: #fff;
}
.ngb-dp-weekday[_ngcontent-c9] {
	color: #666 !important;
}
/*product-end*/

/*login-start*/
.user-entr_wrapper {
	height: 100%;
}
.custom-card .card-header {
	background-color: #198cff;
	color: #ffffff;
	border-radius: 0px;
	padding: 15px 30px;
	border-bottom: 3px solid rgba(0,0,0,.125);
}
.card-header h4 {
	margin-bottom: 0px;
	font-size: 20px;
}
.card-text {
	padding-top: 10px;
	padding-right: 45px;
	padding-left: 45px;
}
.card-text h4 {
	font-size: 26px;
	color: #000;
	text-transform: capitalize;
}
.u-entr_form {
	margin: 15px 25px;
}
.list-form-group {
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.02);
	margin-bottom: 35px;
}
.u-entr_form .form-group {
	margin-bottom: 0px;
	border: solid 1.5px #eaeaea;
	border-bottom: none;
	border-radius: 1px;
	padding: 8px 25px;
}
.form-label {
	margin-bottom: 0;
	font-size: 16px;
	color: #bcbcbc;
}
.u-entr_form .form-control {
	border: none;
	padding: 5px 0px;
	color: #000;
	padding-top: 0px;
}
.u-entr_form .form-group:last-child{
	border-bottom: solid 1.5px #eaeaea; 
}
.u-entr_form .form-control ~ .form-control_focus {
	position: absolute;
	height: 0;
	left: -1px;
	width: 2px;
	top: 0;
	background-color: #0d58d9;
	transition: all ease 0.5s;
}
.u-entr_form .form-control:focus ~ .form-control_focus ,
.u-entr_form .form-control:active ~ .form-control_focus ,
.u-entr_form .form-control:visited ~ .form-control_focus {
	height: 100%;
}
.u-form-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}
.u-next_direct {
	padding-top: 25px;
	border-top: solid 1px #eaeaea;
}
.u-next_direct {
	text-align: center;
}
.u-next_direct p {
	font-size: 16px;
}
/*login-end*/
/*dashboard-end*/

/*responsive*/
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) { 

}
@media (max-width: 320.98px) {
}