<div class="content-wrapper right-sidebar" [ngClass]="toggle==1?'full-rightbar':''">
  <div class="rightbar">

    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Product</li>
      </ol>

      <h2>Product</h2>
    </div>
    <ul class="nav product-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="all-product-tab" data-toggle="tab" href="#all-product" role="tab" aria-controls="all-product" aria-selected="true">All Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sell-tab" data-toggle="tab" href="#sell" role="tab" aria-controls="sell" aria-selected="false">Sell Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="courier-tab" data-toggle="tab" href="#courier" role="tab" aria-controls="courier" aria-selected="false">Courier return</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="false">Customer return</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="all-product" role="tabpanel" aria-labelledby="all-product-tab">
        ...
      </div>
      <div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab">...</div>
      <div class="tab-pane fade" id="courier" role="tabpanel" aria-labelledby="courier-tab">...</div>
      <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">...</div>
    </div>
  </div>
</div>