<div class="content-wrapper right-sidebar" [ngClass]="toggle==1?'full-rightbar':''">
  <div class="rightbar">

    <div class="product-box">
      <div class="card">
        <table class="table custom-table">
          <thead>
            <tr>
              <th>Product id</th>
              <th>Product name</th>
              <th>Total price</th>
              <th>Total courier return</th>
              <th>Total customer return</th>
            </tr>
          </thead>
        
          <tbody>
            <tr>
              <td>1</td>
              <td>#12</td>
              <td>Iphone xs Max</td>
              <td>$999</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>#12</td>
              <td>Iphone xs Max</td>
              <td>$999</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>#12</td>
              <td>Iphone xs Max</td>
              <td>$999</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>#12</td>
              <td>Iphone xs Max</td>
              <td>$999</td>
              <td>$10</td>
            </tr>
        
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>