<div class="content-wrapper right-sidebar" [ngClass]="toggle==1?'full-rightbar':''">
  <div class="rightbar">
    <div class="tab-pane fade show active" id="v-pill-one" role="tabpanel" aria-labelledby="v-pill-one-tab">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">
          <div class="ulpad-btn mb-4">
            <button class="btn btn-primary btn-upload" id="open-card">Upload file</button>
          </div>
          <div class="card show-card" style="display: none;">
            <div class="card-body">
              <div class="file-upload">
                <div class="image-upload-wrap">
                  <input class="file-upload-input" type='file' (change)="incomingfile(event)" accept=".xlsx" />
                  <div class="drag-text">
                    <h3>Select or drop file</h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" src="../../assets/images/excel.png" alt="your image" />
                  <div class="image-title-wrap">
                    <button type="button" class="btn btn-default excel_name"></button>
                    <p>
                      <button type="button" class="btn btn-danger m-t-10" onclick="removeUpload()">Remove upload file</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card mb-0" >
                    <div class="card-header">
                      <h5 class="title">Product</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">10</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value">1</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value">1</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">8</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card mb-0">
                    <div class="card-header">
                      <h5 class="title">Total sell amount</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">₹ 150</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value">₹ 15</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value">₹ 15</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">₹ 120</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card mb-0">
                    <div class="card-header">
                      <h5 class="title">Market place fee</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value text-danger">₹ 15</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value text-danger">₹ 1.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value text-danger">₹ 1.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value text-danger">₹ 12</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card mb-0">
                    <div class="card-header">
                      <h5 class="title">Profit/Loss</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">₹ 135</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value">₹ 13.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value">₹ 13.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">₹ 108</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card chart-card">
            <div class="card-body">
              <canvas id="canvas" class="chart chart-bar" data="charts.bar.data" labels="charts.bar.labels" colours="charts.bar.colours" options="charts.bar.options">{{ chart }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>