<div class="content-wrapper right-sidebar" [ngClass]="toggle==1?'full-rightbar':''">
  <div class="rightbar">
    <div class="tab-pane fade show active" id="v-pill-one" role="tabpanel" aria-labelledby="v-pill-one-tab">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">
          <div class="ulpad-btn mb-4">
            <button class="btn btn-primary btn-upload" id="open-card">Upload file</button>
          </div>
          <div class="card show-card" style="display: none;">
            <div class="card-body">
              <div class="file-upload">
                <div class="image-upload-wrap">
                  <input class="file-upload-input" type='file' (change)="incomingfile(event)" accept=".xlsx" />
                  <div class="drag-text">
                    <h3>Select or drop file</h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" src="../../assets/images/excel.png" alt="your image" />
                  <div class="image-title-wrap">
                    <button type="button" class="btn btn-default excel_name"></button>
                    <p>
                      <button type="button" class="btn btn-danger m-t-10" onclick="removeUpload()">Remove upload file</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                  <ng-container>
                    <div ngbDropdown class="form-group card-datepicker" (openChange)="openChange($event)" placement="bottom-left" [autoClose]="'outside'" #myDrop="ngbDropdown">
                      <div class="input-group" ngbDropdownToggle>
                        <div class="form-control">
                          <span *ngIf="from && to">{{from}} - {{to}}</span>
                          <span *ngIf="!from && !to">Set period</span>
                        </div>
                        <div class="input-group-append">
                          <button class="btn btn-icon btn-calendar" type="button"><i class="far fa-calendar-alt"></i></button>
                        </div>
                      </div>

                      <div ngbDropdownMenu class="p-0 date-range-dropdown animation-duration-200 animation-scale-up animation-top-right">
                        <ngb-datepicker #dp ngModel (click)="dateChange(date)" [displayMonths]="2" [dayTemplate]="t" [navigation]="'arrows'">
                        </ngb-datepicker>
                      </div>
                    </div>
                    <!-- <div ngbDropdown class="" (openChange)="openChange($event)" placement="bottom-left" [autoClose]="'outside'" #myDrop="ngbDropdown">
                      <button class="btn btn-primary mt-3" ngbDropdownToggle>
                        <span *ngIf="from && to">{{from}} - {{to}}</span>
                        <span *ngIf="!from && !to">Set period</span>
                      </button>
                      <div ngbDropdownMenu class="m-0 p-0 date-range-dropdown animation-duration-200 animation-scale-up animation-top-right">
                        <ngb-datepicker #dp ngModel [displayMonths]="2" [dayTemplate]="t" [navigation]="'arrows'">
                        </ngb-datepicker>
                      </div>
                    </div> -->
                  
                  
                    <ng-template #t let-date="date" let-focused="focused">
                      <span class="custom-day" (click)="dateChange(date)" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="title">Product</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">10</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value">1</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value">1</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">8</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="title">Total sell amount</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">₹ 150</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value">₹ 15</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value">₹ 15</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">₹ 120</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="title">Market place fee</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value text-danger">₹ 15</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value text-danger">₹ 1.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value text-danger">₹ 1.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value text-danger">₹ 12</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="title">Tax</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled calc-list">
                        <li>
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">₹ 135</h6>
                        </li>
                        <li>
                          <label class="calc-label">Courier return</label>
                          <h6 class="calc-value">₹ 13.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value">₹ 13.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">₹ 108</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card mb-0">
                    <div class="card-header">
                      <h5 class="title">Profit/Loss</h5>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled pl-list">
                        <li class="minus-value">
                          <label class="calc-label">Sell Product</label>
                          <h6 class="calc-value">₹ 135</h6>
                        </li>
                        <li class="minus-value">
                          <label class="calc-label ">Courier return</label>
                          <h6 class="calc-value text-danger">₹ 13.5</h6>
                        </li>
                        <li class="equal-value">
                          <label class="calc-label">Customer return</label>
                          <h6 class="calc-value text-danger">₹ 13.5</h6>
                        </li>
                        <li>
                          <label class="calc-label">Total</label>
                          <h6 class="calc-value">₹ 108</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card chart-card">
            <div class="card-body">
              <canvas id="canvas" class="chart chart-bar" data="charts.bar.data" labels="charts.bar.labels" colours="charts.bar.colours" options="charts.bar.options">{{ chart }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>